/* Navbar styles */
body div .kos-nav {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: fixed;
  width: 100%;
}

nav ul li {
  cursor: pointer;
}

nav ul li:hover {
  background-color: #eceff2;
}

.nav-items {
  padding: 1rem;
}

.nav-items a .active {
  border: 1px solid #61b6cf;
}

/* Presentation Styles */
.presentation-container {
  height: 100vh;
  padding-top: 90px;
  background-image: url(./assets/marketing-digital.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
}

.presentation-text {
  color: #f4f4f4;
  background-color: rgba(0, 0, 0, 0.2);
}

.presentation-button {
  background-color: #61b6cf;
  font-weight: bold;
  color: #f4f4f4;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.presentation-button:hover {
  background-color: #add9e7;
}

/* Services Section */

.services {
  margin: 1rem 0px;
  color: white;
}

.services:nth-child(1) {
  background-color: #254354;
}

.services:nth-child(2) {
  background-color: #275e77;
}

.services:nth-child(3) {
  background-color: #2d8ead;
}

.services:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

/* Contact Section */

.container form .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(autofit, minmax(300px, 1fr));
}

.container form .row100 .column {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}

.container form .row100 .column .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #45f3ff;
}

.container form .row100 .column .inputBox input,
.container form .row100 .column .inputBox.textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}

.container form .row100 .column .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  pad: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.container form .row100 .column .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #45f3ff;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.container form .row100 .column .inputBox input:focus ~ .line,
.container form .row100 .column .inputBox input:valid ~ .line {
  height: 100%;
}

.container form .row100 .column .inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.container form .row100 .column .inputBox.textarea textarea {
  height: 100%;
  resize: none;
}

.container form .row100 .column .inputBox textarea:focus + .text,
.container form .row100 .column .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}

.container form .row100 .column .inputBox textarea:focus ~ .line,
.container form .row100 .column .inputBox textarea:valid ~ .line {
  height: 100%;
}

input[type="submit"] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #45f3ff;
  color: #000;
  font-size: 18px;
  border-radius: 2px;
}

/* Footer */

footer {
  background-color: #132a39;
  color: white;
}

.icon-link {
  color: white;
}

.icon-link:hover,
.contact-text ul li a:hover {
  color: #add9e7;
}

.contact-text ul li a {
  color: white;
}
/*? Medias Queries */

@media (min-width: 768px) {
  .services {
    margin: 1rem;
  }
}
